<mat-accordion multi="true" *ngIf="products.length > 0">
  <mat-expansion-panel *ngFor="let product of products">
    <mat-expansion-panel-header>
      {{product.typeProduct}}
    </mat-expansion-panel-header>
    <p>{{product.description}}</p>
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="products.length<=0" class="mat-body-1 info-text">No Products added yet...</p>
